body {
    background-color: #FFFFFF;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.heading {
    color: #8d2a2a;
    text-align: center;
    font-size: 2rem;
    word-spacing: 2px;
}

.btn {
    height: 70px;
    width: 80px;
    border-radius: 50%;
    font-size: 1rem;
    
}
.btn:hover, .btn:active{
    background-color:#28dbb4;
    color: #ff00ea;
    transition: 0.4s;
}
