* {
    margin: 0;
	padding: 0;
	border: none;
    list-style-type: none;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}
.heading {
    margin-top: 10px;
    color: #8d2a2a;
    text-align: center;
    font-size: 2rem;
    word-spacing: 2px;
}
.game-area {
    margin-top: 30px;
}
.btn {
    background-color: #ececec;
    color: #0066ff;
    margin-top: 10px;
    height: 70px;
    width: 80px;
    border-radius: 50%;
    font-size: 1rem;   
}
.btn:hover{
    background-color:#28dbb4;
    color: #ff00ea;  
}
p {
    font-size: 1rem;
}
.player {
    display: inline-block;
    float: left;
    width: 50%;
}
.computer {
    display: inline-block;
    float: right;
    width: 50%;
}
#player-image {
    width: 140px;   
}
#computer-image {
    width: 140px; 
}
.score {  
    margin-top: 10px;
}
.rules {
    display: inline-block;
    background-color: #ececec;
    margin:0 auto;
    margin-top: 10px;
    width: fit-content;
    
}
#rules-list:hover{
    font-size: 150%;
}
#rules-list {
    color: #0066ff;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: large; 
}
.message {
    margin-top: 10px;
}

@media screen and (min-width : 650px) {
    #player-image {
        width: 40%;   
    }
    #computer-image {
        width: 40%;   
}

}
